actor Index {

  public query func html() : async Text {
    ___HTML___
  };

  public query func css() : async Text {
    ___CSS___
  };

  public query func js() : async Text {
    ___JS___
  };

}
