section#showProfile {
  display: grid;
  column-gap: 1em;
  grid-template-columns: 600px 300px;
}

section#showProfile div {
  position: relative;
}

section#showProfile button {
  position: absolute;
  top: 4em;
  right: 1em;
}

.profile {
  background: linear-gradient(var(--light-color), white);
  border-radius: 1em;
  padding: 1em;
}

.profile .avatar {
  float: left;
  margin: -1em 1em 100% -1em;
  height: 150px;
  width: 150px;
  border-radius: 1em 0 0 0;
}

.profile h4 {
  color: var(--light-color);
}
