/**
 * LinkedUp
 */

.lu {
    color: #222;
    background: #caccd1;
}

.lu_section-header {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
}

.lu_button {
    color: white;
    background: #292a2e;
    text-transform: uppercase;
    border: none;
    border-radius: 1rem;
    padding: 5px 10px;
}

.lu_logo span {
    color: white;
    background: #f90;
    border-radius: 5px;
}

.lu_search-bar {
    margin: 2px;
    padding: 0 0.5rem;
}

.lu_search-bar .lu_search-input {
    background: #bbb;
    border: none;
    border-radius: 1rem 0 0 1rem;
    padding: 5px 10px;
}

.lu_search-bar .lu_search-input:focus {
    outline: none;
}

.lu_search-bar .lu_search-button {
    color: #fff;
    background: #292a2e;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-left: -3px;
}

.lu_avatar img {
    border-radius: 50%;
    background: #666;
}

.lu_profile-page .lu_main {
    position: relative;

}

.lu_profile-page .lu_connect-button,
.lu_profile-page .lu_edit-button {
    position: absolute;
    top: 3em;
    right: 2em;
}

.lu_profile {
    background: linear-gradient(#fff,#ccc);
    border-radius: 1rem 1rem 0 0;
    padding: 2em;
}

.lu_profile .lu_avatar {
    float: left;
    margin: 0 2rem 100% 0;
}

.lu_profile .lu_avatar img {
    height: 150px;
    width: 150px;
}

.lu_profile .lu_details {
    margin: 50px 0 2rem;
}

.lu_connection {
    display: block;
    color: #fff !important;
    background: #bbb;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 0 1rem;
    cursor: pointer;
}

.lu_connection .lu_avatar {
    float: left;
    margin: 0 1rem 0 0;
}

.lu_connection .lu_avatar img {
    height: 50px;
    width: 50px;
}

.lu_connection .lu_details h5,
.lu_connection .lu_details p {
    margin: 0;
}

.lu_search-result {
    float: left;
    width: 25%;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.lu_search-result .lu_avatar {
    background: linear-gradient(#fff, #ccc);
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
}

.lu_search-result .lu_avatar img {
    display: block;
    margin: 0 auto;
    height: 75px;
    width: 75px;
}

/**
 * Preloader
 */

.preloader-canvas {
    background-color: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.preloader-image {
    background: url('https://enzohaussecker.s3-us-west-2.amazonaws.com/images/loader.gif') center no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

/**
 * Navigation
 */

.navbar-custom {
    background-color: transparent;
}

.navbar-custom > .container {
    color: #FFF;
    outline: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar-custom.collapse-custom {
    background-color: #FFF;
}

.navbar-custom.collapse-custom > .container {
    color: #333;
}

.navbar-toggler {
    outline: none !important;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(51, 51, 51, 1)" stroke-width="4" stroke-linecap="square" stroke-miterlimit="8" d="M4 8h24M4 16h24M4 24h24"/></svg>');
}

.navbar-brand {
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    outline: inherit;
}

.navbar-brand:hover {
    color: inherit;
}

.nav-link {
    color: #999;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    outline: inherit;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #333;
}

.dropdown-menu {
    margin-top: 18px;
    padding: 0;
}

.dropdown-toggle:after {
    content: none;
}

/**
 * Modals
 */

.modal-title {
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.modal-body {
    min-width: 300px;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
}

.modal-body > p {
    border-bottom: 1px solid #E5E5E5;
    color: #545454;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.modal-body > .response {
    color: #FF0000;
    margin-bottom: 15px;
}

.close:active {
    outline: none;
}

.admin-view .modal-body {
    text-align: left;
}

/**
 * Forms
 */

.form-control {
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    background-color: #F9F9F9;
    border: 1px solid #E5E5E5;
    color: #545454;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.form-control:focus {
    border: 1px solid #02ADEA;
    box-shadow: 0 0 8px #29ABE2;
    -moz-box-shadow: 0 0 8px #29ABE2;
    -ms-box-shadow: 0 0 8px #29ABE2;
    -o-box-shadow: 0 0 8px #29ABE2;
    -webkit-box-shadow: 0 0 8px #29ABE2;
}

/**
 * Buttons
 */

.btn:focus {
    box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    color: #FFF;
}

.btn-custom {
    background-color: #02ADEA;
    border-color: #02ADEA;
    border-radius: .25rem;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 46px;
    width: 100%;
}

.btn-custom:hover {
    color: #FFF;
}

.admin-view .btn-custom {
    font-size: 15px;
    height: auto;
}



.btn-profile {
text-overflow: ellipsis;
border: 0;
padding: 0;
}
.btn-profile:hover {
    background-color: #F9F9F9;
}

.btn-accept {
    background-color: #28A745;
    border-color: #28A745;
    border-radius: .25rem;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    height: auto;
    width: 100%;
}

.btn-accept:hover {
    color: #FFF;
}

.btn-reject {
    background-color: #DC3545;
    border-color: #DC3545;
    border-radius: .25rem;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    height: auto;
    width: 100%;
}

.btn-reject:hover {
    color: #FFF;
}

/**
 * Intro
 */

.splash-view {
    background: gray;
}

.intro {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    background: url('https://enzohaussecker.s3-us-west-2.amazonaws.com/images/handshake.jpg') no-repeat center center fixed;
    background-size: cover;
}

.dim {
    background-image: url('https://enzohaussecker.s3-us-west-2.amazonaws.com/images/overlay.png');
    height: 100%;
    position: absolute;
    width: 100%;
}

.callout {
    text-align: center;
}

.callout > h1 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

@media (max-width: 575px) {
    .callout > h1 {
        font-size: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .callout > h1 {
        font-size: 44px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .callout > h1 {
        font-size: 60px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .callout > h1 {
        font-size: 80px;
    }
}

@media (min-width: 1200px) {
    .callout > h1 {
        font-size: 92px;
    }
}

.typed-cursor--blink {
    animation: typedjsBlink 1.5s infinite !important;
    -moz-animation: typedjsBlink 1.5s infinite !important;
    -ms-animation: typedjsBlink 1.5s infinite !important;
    -o-animation: typedjsBlink 1.5s infinite !important;
    -webkit-animation: typedjsBlink 1.5s infinite !important;
}

/**
 * Profile View
 */

#admin-view {
    display: none;
}





#connect-form {
    width: 100%;
}



/*------------------------------------------------------------------
[Modules]
*/

.module,
.module-sm {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.module.module-divider-top,
.module-sm.module-divider-top {
    border-top: 1px solid #f2f2f2;
}

.module.module-divider-bottom,
.module-sm.module-divider-bottom {
    border-bottom: 1px solid #f2f2f2;
}

.module,
.module-sm {
    background-color: #fff;
    padding: 120px 0 100px;
}

.module.module-gray,
.module-sm.module-gray {
    background-color: #f7f7f7;
}

.module.module-dark,
.module-sm.module-dark {
    background-color: #000;
}

.module-sm {
    padding: 60px 0 40px;
}

.parallax {
    background-color: transparent !important;
}

.m-title {
    margin: 0 0 80px;
}

.m-title > *:last-child {
    margin-bottom: 0;
}

.m-title h2 {
    margin: 0 0 10px;
}

.m-title h6 {
    font-size: 10px;
    color: #9b9b9b;
}

.m-title.l-align {
    text-align: left;
}

.m-title.c-align {
    text-align: center;
}

.m-title.r-align {
    text-align: right;
}

.bg-gradient:after {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.bg-dark-30:before,
.bg-dark-60:before,
.bg-dark-90:before,
.bg-light-30:before,
.bg-light-60:before,
.bg-light-90:before {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.bg-dark-30:before {
    background: rgba(0, 0, 0, .3);
    content: "";
    left: 0;
    top: 0;
}

.bg-dark-60:before {
    background: rgba(0, 0, 0, .6);
    content: "";
    left: 0;
    top: 0;
}

.bg-dark-90:before {
    background: rgba(0, 0, 0, .9);
    content: "";
    left: 0;
    top: 0;
}

.bg-light-30:before {
    background: rgba(255, 255, 255, .3);
    content: "";
    left: 0;
    top: 0;
}

.bg-light-60:before {
    background: rgba(255, 255, 255, .6);
    content: "";
    left: 0;
    top: 0;
}

.bg-light-90:before {
    background: rgba(255, 255, 255, .9);
    content: "";
    left: 0;
    top: 0;
}

.bg-gradient:after {
    background: radial-gradient(left top, circle cover, #0cb4ce 9%, #006cff 48%, #6442ff 91%);
    background: -webkit-radial-gradient(left top, circle cover, #0cb4ce 9%, #006cff 48%, #6442ff 91%);
    opacity: .9;
    content: "";
    left: 0;
    top: 0;
}

/*------------------------------------------------------------------
[Portfolio filter]
*/

.filters {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
}

.filters > li {
    display: inline-block;
    margin: 0 18px 10px 18px;
}

.filters > li a {
    color: #202020;
    color: #828282;
    opacity: .8;
}

.filters > li a:hover,
.filters > li a.current {
    opacity: 1;
    color: #e41919;
}

@media (max-width: 767px) {
    .filters > li {
        display: block;
    }
}

/*------------------------------------------------------------------
[Portfolio grid]
*/

.row-portfolio .grid-sizer,
.row-portfolio .portfolio-item {
    width: 33.333333%;
    padding: 20px;
    float: left;
}

.row-portfolio .grid-sizer.large,
.row-portfolio .portfolio-item.large {
    width: 66.666666%;
}

.row-portfolio[data-columns="4"] .grid-sizer,
.row-portfolio[data-columns="4"] .portfolio-item {
    width: 25%;
}

.row-portfolio[data-columns="4"] .grid-sizer.large,
.row-portfolio[data-columns="4"] .portfolio-item.large {
    width: 50%;
}

/*------------------------------------------------------------------
[Portfolio Single Item]
*/

.portfolio-item {
    float: left;
    width: 100%;
    margin-bottom: -1px;
}

.portfolio-item .portfolio-img-wrap {
    background-size: cover;
    background-position: 50%;
    position: relative;
    padding-top: 100%;
    padding-bottom: 1px;
}

.portfolio-item.large .portfolio-img-wrap {
    padding-bottom: 0;
}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-wrapper .portfolio-img-wrap {
    transition: all .3s cubic-bezier(.3, .1, .58, 1);
}

.portfolio-overlay {
    position: absolute;
    background: rgba(30, 30, 30, .5);
    opacity: 0;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: all .3s cubic-bezier(.3, .1, .58, 1);
}

.portfolio-caption {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    opacity: 0;
    z-index: 1;
    text-align: center;
    padding: 20px 30px;
    transition: all .3s cubic-bezier(.3, .1, .58, 1);
}

.portfolio-title {
    letter-spacing: 3.8px;
    font-size: 14px;
    color: #fff;
    margin: 0 0 8px;
}

.portfolio-subtitle {
    color: #fff;
    display: block;
    font-size: 10px;
    opacity: .7;
}

.portfolio-link {
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.portfolio-item:hover .portfolio-wrapper {
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-item:hover .portfolio-caption {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
}

@media (max-width: 1199px) {
    .row-portfolio .grid-sizer,
    .row-portfolio .portfolio-item,
    .row-portfolio[data-columns="4"] .grid-sizer,
    .row-portfolio[data-columns="4"] .portfolio-item,
    .row-portfolio[data-columns="5"] .grid-sizer,
    .row-portfolio[data-columns="5"] .portfolio-item {
        width: 33.333333%;
    }

    .row-portfolio .grid-sizer.large,
    .row-portfolio .portfolio-item.large,
    .row-portfolio[data-columns="4"] .grid-sizer.large,
    .row-portfolio[data-columns="4"] .portfolio-item.large,
    .row-portfolio[data-columns="5"] .grid-sizer.large,
    .row-portfolio[data-columns="5"] .portfolio-item.large {
        width: 66.666666%;
    }
}

@media (max-width: 991px) {
    .row-portfolio .grid-sizer,
    .row-portfolio .portfolio-item,
    .row-portfolio[data-columns="4"] .grid-sizer,
    .row-portfolio[data-columns="4"] .portfolio-item,
    .row-portfolio[data-columns="5"] .grid-sizer,
    .row-portfolio[data-columns="5"] .portfolio-item {
        width: 50%;
    }

    .row-portfolio .grid-sizer.large,
    .row-portfolio .portfolio-item.large,
    .row-portfolio[data-columns="4"] .grid-sizer.large,
    .row-portfolio[data-columns="4"] .portfolio-item.large,
    .row-portfolio[data-columns="5"] .grid-sizer.large,
    .row-portfolio[data-columns="5"] .portfolio-item.large {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .row-portfolio .grid-sizer,
    .row-portfolio .portfolio-item,
    .row-portfolio[data-columns="4"] .grid-sizer,
    .row-portfolio[data-columns="4"] .portfolio-item,
    .row-portfolio[data-columns="5"] .grid-sizer,
    .row-portfolio[data-columns="5"] .portfolio-item {
        width: 100%;
    }

    .row-portfolio .grid-sizer.large,
    .row-portfolio .portfolio-item.large,
    .row-portfolio[data-columns="4"] .grid-sizer.large,
    .row-portfolio[data-columns="4"] .portfolio-item.large,
    .row-portfolio[data-columns="5"] .grid-sizer.large,
    .row-portfolio[data-columns="5"] .portfolio-item.large {
        width: 100%;
    }
}

.footer {
    height: 50px;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background: #292a2e;
    color: #999;
}











